/* -------- *
 *  About   *
 * -------- */

.about {}

.about__image {
  margin-bottom: 1em;
  @include bp(medium) {
    @include span-columns(6);
  }
}

.about__image__caption {
  line-height: 1.2;
  margin-top: .5em;
  color: gray;
  text-align: center;
}



.about__info {
  font-size: 1em;
  @include bp(medium) {
    @include span-columns(6);
  }
}


.about__info p {
  margin-bottom: 1em;
}
