/* -------- *
 *  About   *
 * -------- */

.about {
  margin: 0 auto;
}

.about__image {
  margin-bottom: 2em;
}

.about__statement, .about__bio {
  margin-bottom: 1em;
  @include bp(medium) {
    @include span-columns(5.75);
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1em;
  }
}

.about__bio {
  margin-bottom: 2em;
  @include bp(medium) {
    margin-bottom: 0;
  }
}

.about__statement {
  margin-bottom: -1em;
  p {
    margin-bottom: 0;
  }
  @include bp(medium) {
    @include shift(.5);
  }
}

.about h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .5em;
  letter-spacing: .15em;
  text-transform: uppercase;
  //font-weight: 600;
}
