/* -------- *
 *  About   *
 * -------- */

.about image {
}

.about__image {
  margin-bottom: 2em;
  @include bp(medium) {
    //@include span-columns(6);
  }
}

.about__image__caption {
  line-height: 1.2;
  margin-top: .5em;
  color: gray;
  text-align: center;
}

.about__bio, .about__statement  {
  @include bp(medium) {
    @include span-columns(6);
  }
}

.about p {
  margin-bottom: 1em;
}

.about h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: $sans;
  margin-bottom: 1em;
}
