/* -------- *
 * Contact  *
 * -------- */

.contact-info {
  margin-bottom: 1em;
 @include bp (medium) {
   @include span-columns(4);
 }
 h3 {
   margin: -.5em auto 1em;
   text-transform: uppercase;
   font-size: 2.25em;
   letter-spacing: .15em;
   text-transform: uppercase;
   line-height: 1.4;
   text-align: center;
   @include bp (medium) {
     text-align: left;
     margin: -.25em 0 .5em 0;
   }

 }
 h4 {
   font-size: 1em;
   font-weight: bold;
   margin-bottom: .5em;
   margin-top: 1.25em;
 }
 li {
  line-height: 1.4;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1;
 }
 a {
   text-decoration: underline;
   font-size: .9em;
 }

 p {
   font-size: .9em;
 }
}

.form {
  letter-spacing: 1px;
  @extend %clearfix;
  font-size: .9em;
  @include bp (medium) {
    @include span-columns(8);
    margin-right: 0;
  }
}

.form label {
  display: block;
  margin-bottom: .25em;
}

.form input {
  letter-spacing: 1px;
  height: 40px;
  border: 0;
}

.form textarea {
  letter-spacing: 1px;
  line-height: 1.4;
}

.form span {
  color: gray;
}

.form input, .form textarea {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid gray;
  border-radius: 2px;
  padding: .5em;
  font-size: 1em!important;
  font-family: $sans;
  &:focus {
    border-color: darken($secondary, 20%);
  }
}

.form__fname, .form__lname, .form__number, .form__email {
  @include bp (medium) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.form__bot {
  display: none;
}

.form__message {
  @include span-columns(12);
}

.form__message textarea{
  height: 400px;
  resize: none;
  -webkit-appearance: none;
  font-family: $sans;
}


.form__submit {
  font-family: $sans;
  width: auto!important;
  float: left;
  cursor: pointer;
  background: $base;
  color: white!important;
  border: none!important;
  outline: 0;
  display: block;
  line-height: 1!important;
  padding: 0 .75em 0 .75em!important;
  margin-bottom: 0!important;
  margin-right: 1em;
}

.no-touch .form__submit:hover {
  background: gray;
}

//Error & Success Overlay
.error {
  border: 1px solid red!important;
}

.form__alert {
  position: relative;
  top: .65em;
  float: left;
  display: inline-block;
}

.form__alert--success {
  color: green;
}

.form__alert--error {
  color: red;
}

.form__alert--error, .form__alert--success {
  display: none;
}
