/* -------- *
 * Contact  *
 * -------- */

.contact-image {
 display: none;
 @include bp (medium) {
   @include span-columns(4);
   background-size: cover;
   background-position: center center;
   height: 605px;
 }
}

.form {
  letter-spacing: 1px;
  @extend %clearfix;
  @include bp (medium) {
    @include span-columns(8);
    margin-right: 0;
  }
}

.form label {
  font-size: .9em;
  display: block;
  margin-bottom: .25em;
}

.form input {
  letter-spacing: 1px;
  height: 40px;
  border: 0;
}

.form textarea {
  letter-spacing: 1px;
  line-height: 1.4;
}

.form span {
  color: gray;
}

.form input, .form textarea {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid gray;
  border-radius: 2px;
  padding: .5em;
  font-size: .9em;
  &:focus {
    border-color: darken($secondary, 20%);
  }
}

.form__fname, .form__lname, .form__number, .form__email {
  @include bp (medium) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.form__bot {
  display: none;
}

.form__message {
  @include span-columns(12);
}

.form__message textarea{
  height: 400px;
  resize: none;
  -webkit-appearance: none;
  font-family: $sans;
}


.form__submit {
  font-family: $sans;
  width: auto!important;
  float: left;
  cursor: pointer;
  background: $base;
  color: white;
  border: none;
  outline: 0;
  font-size: .9em!important;
  display: block;
  line-height: 40px;
  padding: 0 .75em 0 .75em!important;
  margin-bottom: 0!important;
  margin-right: 1em;
  &:hover {
    background: gray;
  }
}

//Error & Success Overlay
.error {
  border: 1px solid red!important;
}

.form__alert {
  position: relative;
  top: .6em;
  float: left;
  display: inline-block;
}


.form__alert--success {
  color: green;
}

.form__alert--error {
  color: red;
}

.form__alert--error, .form__alert--success {
  display: none;
}
