/* -------- *
 * Contact  *
 * -------- */

.contact-image {
 margin-bottom: 1em;
 display: none;
 @include bp (medium) {
   @include span-columns(4);
 }
}

.contact-image a {
  color: gray;
  text-decoration: underline;
  &:hover {
    color: $base;
  }
}

.contact-image image {
}

.contact-image__caption {
  line-height: 1.2;
  margin-top: .5em;
  color: gray;
  text-align: center;
}

.form {
  @extend %clearfix;
  @include bp (medium) {
    @include span-columns(8);
  }
}

.form label {
  //text-transform: uppercase;
  display: block;
  margin-bottom: .25em;
  font-size: .9em;
}

.form input {
  height: 30px;
}

.form span {
  color: darken($secondary, 10%);
}

.form input, .form textarea {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid gray;
  border-radius: 2px;
  &:focus {
    outline: none;
    border-color: darken($secondary, 10%);
  }
}


.form__fname, .form__lname, .form__number, .form__email {
  @include bp (medium) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.form__bot {
  display: none;
}

.form__message {
  @include span-columns(12);
}

.form__message textarea{
  height: 400px;
  resize: none;
  -webkit-appearance: none;
}


.form__submit {
  width: auto!important;
  float: left;
  cursor: pointer;
  background: $base;
  color: white;
  border: 0;
  outline: 0;
  font-size: .8em;
  display: block;
  height: 50px!important;
  padding: 0 1em;
  &:hover {
    background: gray;
  }
}

.form__alert {
  display: none;
}
