/* -------- *
 *  Footer  *
 * -------- */
.site-footer {
  background: $base;
  color: gray;
  font-family: $sans;
  clear: both;
  font-size: 16px;
  letter-spacing: 1px;
  height: 65px;
  text-align: center;
  line-height: 65px;
}

.site-footer__container {
  padding: 14px 1em 0;
  @extend %clearfix;
  margin: 0 auto;
  padding: 0 1.2em;
}

.site-footer__copyright {
  font-size: 16px;
  margin-bottom: 5px;
  display: none;
  margin: 0;
  @include bp(small) {
    display: inline-block;
    float: right;
  }
}

.site-footer__facebook {
  text-decoration: underline;
  text-align: center;
  color: gray;
  @include bp(small) {
    float: left;
  }
  &:hover {
    color: white;
  }
}
