/* -------- *
 *  Footer  *
 * -------- */

.site-footer {
  background: $base;
  color: gray;
  font-family: $sans;
  font-weight: normal;
  clear: both;
  font-size: 16px;
  height: 65px;
  text-align: center;
  @include bp(medium) {
    line-height: 65px;
  }
}

.site-footer__container {
  max-width: $container;
  padding: 16px 1em 0;
  @extend %clearfix;
  @include bp(medium) {
    margin: 0 auto;
    padding: 0 1.2em;
  }
}

.site-footer__copyright {
  font-size: 16px;
  margin-bottom: 5px;
  @include bp(medium) {
    float: right;
    margin: 0;
  }
}

.site-footer__facebook {
  text-decoration: underline;
  text-align: center;
  color: gray;
  @include bp(medium) {
    float: left;
  }
  &:hover {
    color: white;
  }
}
