/* -------- *
 * Gallery  *
 * -------- */


.header--gallery {
  margin: 0 0 1em 0;
  padding: 1em 1em;
  text-align: center;
}

.header--gallery__title {
  font-size: 3em;
  letter-spacing: .1em;
  text-align: center;
  color: $base;
  text-transform: uppercase;
  display: inline-block;
}

.header--gallery__categories {
	margin-top: .5em;
	font-size: .8em;
}

.header--gallery__categories button {
	text-decoration: underline;
}

.header--gallery__categories button:hover {
	color: gray;
}

.header--gallery__categories li {
	display: inline-block;
	margin: 0 .5em .25em .5em;
}










.gallery {
}

.project {
	width: 100%;
	margin-bottom: 20px;
	@extend %clearfix;
	@include bp(medium) {
		width: 31%;
	}
}

.project__title {
	display: none;
}

.project__link {
}

.project__image {
	margin-bottom: .25em;
}
