/* -------- *
 * Gallery  *
 * -------- */

.header--gallery {
  margin: 0 0 1em 0;
  padding: 1em 1em;
  text-align: center;
}

.header--gallery__title {
  font-size: 3em;
  letter-spacing: .1em;
  text-align: center;
  color: $base;
  text-transform: uppercase;
  display: inline-block;
}

.header--gallery__categories {
	margin-top: .5em;
	font-size: .8em;
}

.header--gallery__categories a {
  padding: .25em .75em;
  //text-decoration: underline;
}

.header--gallery__categories .current-cat a {
  background: $secondary;
}

.header--gallery__categories a:hover {
  background: $secondary;
  color: gray;
}

.header--gallery__categories li {
	display: inline-block;
}

//Masonry Layout
#gallery {
  margin-bottom: 2em;
}

.project {
  width: 100%;
  position: relative;
  @include bp(medium) {
    width: 33.3%
  }
}

.project__container {
  padding: .5em;
  text-align: center;
}

.project__caption {
  position: absolute;
  top: 50%;
  left: .5em;
  right: .5em;
  color: white;
  font-size: .8em;
  opacity: 0;
}

.project__overlay {
  background: $base;
  position: absolute;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: .5em;
  opacity: 0;
}

.project__link:hover {
  .project__overlay {opacity: .75;}
  .project__caption {opacity: 1;}
}

//Gallery Pagination
.gallery__pagination a {
  font-size: .8em;
  text-decoration: underline;
}

.gallery__pagination {
  @extend %clearfix;
}

.gallery__pagination .btn-pagination--prev {
  float: right;
}

.gallery__pagination .btn-pagination--next {
  float: left;
}
