/* -------- *
 * Gallery  *
 * -------- */

.masonry {
	@include bp(medium) {
		//-moz-column-count: 2;
		//-moz-column-gap: 1em;
		//-webkit-column-count: 2;
		//-webkit-column-gap: 1em;
		//column-count: 2;
		//column-gap: 1em;
	}
}

.gallery__categories {
	margin-top: .5em;
}


.gallery__categories a {
	text-decoration: underline;
}

.gallery__categories li {
	display: inline-block;
	margin: 0 .5em .5em .5em;
}

.gallery {
	//@include span-columns(6);
	width: 33%;
	//margin-bottom: 1em;
	//margin-right: 1em;
	@extend %clearfix;
}

.gallery__title {
	display: none;
}



.gallery__link {

}

.gallery__image {
	margin-bottom: .25em;

}
