/* -------- *
 *   Home   *
 * -------- */

.home .site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.home .page-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
.home .site-header {
  position: absolute;
  z-index: 99;
}

/* Carousel Slides */
.carousel {
  //position: relative;
}

.slide {
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
}

.slide:before {
  content: '';
 display: inline-block;
 height: 100%;
 vertical-align: middle;
}

.slide__info {
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  color: white;
  display: inline-block;
  text-align: center;
  &:hover {
    color: white;
  }
}

.slide__title {
  font-size: 2.5em;
  font-family: $serif;
  letter-spacing: 2px;
}

.slide__excerpt {
  line-height: 1.4;
  max-width: 400px;
  margin: 0 auto;
}

.slide__view-work {
  font-size: .9em;
  font-family: $icons;
  display: inline-block;
  margin-top: .5em;
  padding: .5em;
  background: white;
  color: gray;
  border-radius: 2px;
  &:hover {
    color: $base;
  }
}

//Slide Arrows

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  width: 2em;
  height: 2em;
  position: absolute;
  font-family: $icons;
  bottom: 0;
}


/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
  &:hover {
    //fill: gray;
  }

}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: .55em;
  top: 50%;
  margin-top: -1em;
}
.flickity-prev-next-button.next {
  right: .55em;
  top: 50%;
  margin-top: -1em;
}


/*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
