/* -------- *
 * Navigation  *
 * -------- */

.site-header {
	width: 100%;
	background: white;
	z-index: 99;
}

.site-header__logo {
	font-family: $sans;
	line-height: 65px;
	font-size: 1.25em;
	display: inline-block;
	float: left;
	height: 65px;
	letter-spacing: .2em;
	margin-left: .65em;
}

.site-header__logo:hover, .nav-toggle:hover {
	color: gray;
}

.site-header__nav {
	margin: 0 auto;
	@extend %clearfix;
}

.site-header__nav ul {
	display: none;
	width: 100%;
	float: left;
	margin-right: 1em;
	@include bp(medium) {
		display: block;
		float: right;
		line-height: 64px;
		width: auto;
	}
}

.site-header__nav li a {
	text-transform: titlecase;
	font-size: 16px;
	font-family: $sans;
	display: block;
	background: white;
	text-align: center;
	line-height: 65px;
	position: relative;
	text-decoration: none;
	border-top: 1px solid darken($secondary, 5%);
	@include bp(medium) {
		border: none;
		background: none;
	}
}

.site-header__nav .active a {
	//color: darken( $secondary, 10% );
}

.site-header__nav li {
	@include bp(medium) {
		margin-left: 35px;
		display: inline-block;
	}
}

.site-header__nav li a:hover {
	background: $base;
	color: white;
	@include bp(medium) {
		background: none;
		color: $base;
	}
}

//Respsonsive-Nav Specific Styling
.nav-toggle {
	float: right;
	position: relative;
	top: 2px;
	left: .4em;
	line-height: 65px;
	margin-right: 1em;
	font-family: $icons;
	font-size: 26px;
	@include bp(medium) {
		display: none;
	}
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden;
  zoom: 1;
	@include bp(medium) {
		max-height: none;
	}
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
