/* -------- *
 * Single  *
 * -------- */

.single .page-content {
	margin: 1em auto;
	max-width: 750px;
	@include bp(medium) {
		margin: 2em auto 1em;
	}
}

.single strong {
	font-weight: bold;
}
.single .site-header__nav {
	//border-bottom: 1px solid darken($secondary, 5%);
}

.single .page-header {
	margin: 0;
	padding: 0;
	height: 65px;
}

.page-header__category, .page-header__category a {
	text-align: center;
	font-size: 1em;
	letter-spacing: 1px;
  z-index: 2;
	line-height: 1;
	display: none;
	span {
		color: gray;
	}
}

.page-header__category a  {
	text-decoration: underline;
	color: gray;
	&:hover {
		color: $base;
	}
}

.single .page-content p {
	line-height: 1.4;
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

//Single Arrows
.page-header__nav {
  background: white;
  width: 100%;
  @extend %clearfix;
  margin-top: 2.5em;
  margin-bottom: -2.5em;
  height: 50px;
  border-bottom: 1px solid darken($secondary, 5%);
  @include bp(medium) {
    position: fixed;
    top: 50%;
		left: 0;
    margin: 10px auto 0;
    border: none;
		background: none;
  }
}

.page-header__nav a {
  width: 50%;
  line-height: 50px;
  position: absolute;
  font-family: $icons;
  color: gray;
  font-size: 1.5em;
  &:hover {
    color: $base;
  }
  @include bp(medium) {
    width: auto;
		z-index: 2;
  }
}

.page-header__nav a[rel="prev"] {
	position: absolute;
  left: 0;
  border-right: 1px solid darken($secondary, 5%);
  @include bp(medium) {
    left: .75em;
		border: none;
  }
}
.page-header__nav a[rel="next"] {
	position: absolute;
  right: 0;
  border-left: 1px solid darken($secondary, 5%);
  @include bp(medium) {
    right: .75em;
		border: none;
  }
}

.page-header__nav a:nth-of-type(2) {
	border-left: none;
}
