/* -------- *
 * Single  *
 * -------- */

.single .site-content {
	margin: 1em auto;
	max-width: 750px;
	@include bp(medium) {
		margin: 2em auto;
	}
}

.header--single {
	background: $secondary;
	margin-top: 75px;
	position: relative;
	padding: 2em 0;
}

.header--single__title {
	text-align: center;
	font-size: 2em;
	margin-bottom: .25em;
}

.header--single__category {
	text-align: center;
	color: gray;
}

.header--single__details {
	max-width: 600px;
	margin: .75em auto 0;
	padding: 0 1em;
	line-height: 1.4;
}

.header--single__details p {
	max-width: 600px;
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

.header--single__details a {
	text-decoration: underline;
	&:hover {
		color: gray;
	}
}

.single .site-content img {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

.single .site-content p {
	line-height: 1.4;
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

//Single Navigation
.single__nav {
	@extend %clearfix;
	width: 100%;
	position: relative;
	top: 2em;
	background: white;
	border-bottom: 1px solid $secondary;
	@include bp(medium) {
		position: absolute;
		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 1em;
		border: none;
		background: none;
	}
}

.single__nav a[rel="prev"], .single__nav a[rel="next"] {
	color: gray;
	font-size: 1.5em;
	width: 50%;
	text-align: center;
	padding: .5em 0;
	background: white;
	@include bp(medium) {
		border: none;
		width: auto;
		padding: .5em 0 0 0;
		background: none;
	}
	&:hover {
		color: $base;
		@include bp(medium) {
			background: none;
		}
	}
}

.single__nav a[rel="prev"] {
	float: right;
	border-left: 1px solid $secondary;
}

.single__nav a[rel="prev"]:before {
	font-family: $icons;
	content: "\e601";
}

.single__nav a[rel="next"] {
	float: left;
	border-left: 1px solid $secondary;
}

.single__nav a[rel="next"]:after {
	font-family: $icons;
	content: "\e600";
}

.single__nav a:nth-child(2) {
  border-right: 0;
}
