/* -------- *
 *   Work   *
 * -------- */
.blog .page-header__title:after, .archive .page-header__title:after {
	display: none;
}

.page-header__categories {
	margin-top: .5em;
	font-size: .9em;
}

.page-header__categories a {
  padding: .25em .75em 0;
  text-decoration: underline;
}

.page-header__categories li {
  display: inline-block;
}

.page-header__categories--current a {
  color: darken( $secondary, 10% );
}

.page-header__categories .current-cat a {
  color: $base!important;
}

.page-header__categories a:hover {
  color: $base!important;
}

.page-header__categories:hover a {
  color: darken( $secondary, 10% );
}

.page-header__categories li {
	display: inline-block;
}

//Masonry Layout
.work {
  margin-bottom: 1em;
  @extend %clearfix;
}

.project {
  position: relative;
  margin-bottom: 1em;
}

.project__container {
  text-align: center;
}

.project__caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: white;
  font-size: .9em;
  opacity: 0;
}

.project__overlay {
  background: $base;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.project__link:hover {
  .project__overlay {opacity: .75;}
  .project__caption {opacity: 1;}
}

//Salvattore
@media screen and (max-width: 480px){
    .work[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .work[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}
@media screen and (min-width: 769px) {
    .work[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

.column { float: left; //margin-right: 1em;
}
.size-1of1 { width: 100%; }
.size-1of2 { @include span-columns(6); }
.size-1of3 { @include span-columns(4);  }

//Gallery Pagination
.work__pagination a {
  font-size: .9em;
  text-decoration: underline;
}

.work__pagination {
  @extend %clearfix;
}

.work__pagination .btn-pagination--prev {
  float: right;
}

.work__pagination .btn-pagination--next {
  float: left;
}
