/* -------- *
 *   Work   *
 * -------- */

.header--work {
  margin: 0 0 1em 0;
  padding: 1em 1em;
  text-align: center;
}

.header--work__title {
  font-size: 2.5em;
  letter-spacing: .1em;
  text-align: center;
  color: $base;
  text-transform: uppercase;
  display: inline-block;
}

.header--work__categories {
	margin-top: .5em;
	font-size: .8em;
}

.header--work__categories a {
  padding: .25em .75em;
  border-radius: 2px;
}

.header--work__categories .current-cat a {
  background: $secondary;
}

.header--work__categories a:hover {
  background: $secondary;
  color: gray;
}

.header--work__categories li {
	display: inline-block;
}






//Masonry Layout
#work {
  margin-bottom: 2em;
  @extend %clear;
}

.project {
  margin-bottom: 1em;
}

.project__link:hover {
  .project__overlay {opacity: .75;}
  .project__caption {opacity: 1;}
}

//(Salvattore)
#gallery[data-columns]::before {
  content: '1 .column.size-1of1';
  @include bp(medium) {
    content: '3 .column.size-1of3';
  }
}

.column { float: left; }
.size-1of3 { @include span-columns(4); }
.size-1of2 { width: 50%; }
.size-1of1 { width: 100%; }












//Gallery Pagination
.work__pagination a {
  font-size: .8em;
  text-decoration: underline;
}

.work__pagination {
  @extend %clearfix;
}

.work__pagination .btn-pagination--prev {
  float: right;
}

.work__pagination .btn-pagination--next {
  float: left;
}
