/* ---------- *
* Animations  *
* ----------- */

.site-header__nav li a {
  @include transition (background 100ms ease-in-out);
 @include bp(medium) {
   @include transition (color 100ms ease-in-out);
 }
}

.site-header__logo, .nav-toggle, .gallery__categories button, .header--single__category a {
  @include transition (color 100ms ease-in-out);
}

.single__nav a {
  @include transition (color 100ms ease-in-out);
}

.project__overlay, .project__caption {
  @include transition (opacity 200ms ease-in-out);
}

.slide__view-work {
  @include transition (all 100ms ease-in-out);
}

.slick-prev:hover:before, .slick-next:after {
  @include transition (all 100ms ease-in-out);
}

.header--work__categories a {
  @include transition (all 100ms ease-in-out);
}


//Ken Burns Effect on Homepage Slideshow

.slide__image {
  animation: none;
  @include bp (medium) {
    //animation:move 40s ease infinite; /* Change this to alternate to stop the loop. */
  }
}

@keyframes move {
  0%   {transform: scale(1.0);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1.0);}
}
