/* ------- *
 *  Links  *
 * ------- */

a {
  text-decoration: underline;
  color: $base;
  &:hover {
    color: gray
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: $sans;
  font-size: 1em;
}
