/* ------- *
 *  Pages  *
 * ------- */

.page-content {
  margin: 2em auto;
  padding: 1em;
  max-width: $container;
  @extend %clearfix;
}

//Page Header
.page-header {
  padding: 2.5em 0;
  background: $secondary;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  position: relative;
  width: 100%;
  text-align: center;
}

.page-header__title {
  font-size: 2.25em;
  margin: 0 auto;
  padding-bottom: 0;
  position: relative;
  line-height: 1.2;
  padding: 0 .5em .2em;
  letter-spacing: .05em;
}

.page-header__subtitle {
  font-size: 1em;
  letter-spacing: .05em;
  text-transform: capitalize;
}
