/* ------- *
 *  Pages  *
 * ------- */


.page-content {
 margin: 0 auto;
 padding: 1em;
 max-width: $container;
 @extend %clearfix;
}





//Header
.page-header {
  margin-top: 65px;
  padding: 2em 0 1em;
  text-align: center;
  //margin-bottom: 1em;
}

.page-header__title {
  font-size: 2.5em;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
