/* ------- *
 * Paragraphs *
 * ------- */

p {
  font-size: .9em;
  line-height: 1.6;
  letter-spacing: 1px;
}

.single p, .about p, .contact-info p, .form input, .form textarea{
  color: lighten($base, 5%);
}
