/* ------------ *
 *  Typography  *
 * ------------ */

$sans: "Source Sans Pro Regular", Helvetica, sans-serif;
$serif: "Georgia", serif;

h1,h2,h3,h4,h5,h6 {
  font-family: $sans;
}

body {
  font-family: $serif;
}

html {
  font-size: 100%;
  @include bp(small) {
    font-size: 112.5%;
  }
  @include bp(medium) {
    font-size: 125%;
  }
  @include bp(large) {
    font-size: 137.5%;
  }
}
