/* ------------ *
 *  Typography  *
 * ------------ */

@font-face{
 font-family: 'Source Sans Pro';
 font-weight: 400;
 font-style: normal;
 src: url('../fonts/sourcesanspro-regular-webfont.eot');
 src: url('../fonts/sourcesanspro-regular-webfont?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
      url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
      url('../fonts/sourcesanspro-regualr-webfont.svg#webfont') format('svg');
}

@font-face{
 font-family: 'Icons';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/icons.eot');
 src: url('../fonts/icons?#iefix') format('embedded-opentype'),
      url('../fonts/icons.woff') format('woff'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.svg#webfont') format('svg');
}

body {
  font-family: $sans;
}

html {
  font-size: 100%;
  @include bp(small) {
    font-size: 112.5%;
  }
  @include bp(medium) {
    font-size: 125%;
  }
}
