/* ------------ *
 *  Typography  *
 * ------------ */


@font-face{
 font-family: 'Source Sans Pro';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/sourcesanspro-regular-webfont.eot');
 src: url('../fonts/sourcesanspro-regular-webfont?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
      url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
      url('../fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
}

@font-face{
 font-family: 'Source Sans Pro';
 font-weight: bold;
 font-style: normal;
 src: url('../fonts/sourcesanspro-bold-webfont.eot');
 src: url('../fonts/sourcesanspro-bold-webfont?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
      url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
      url('../fonts/sourcesanspro-bold-webfont.svg#webfont') format('svg');
}

@font-face{
 font-family: 'Source Serif Pro';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/sourceserifpro-regular-webfont.eot');
 src: url('../fonts/sourceserifpro-regular-webfont?#iefix') format('embedded-opentype'),
      url('../fonts/sourceserifpro-regular-webfont.woff') format('woff'),
      url('../fonts/sourceserifpro-regular-webfont.ttf') format('truetype'),
      url('../fonts/sourceserifpro-regular-webfont.svg#webfont') format('svg');
}


@font-face{
 font-family: 'Icons';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/icons.eot');
 src: url('../fonts/icons?#iefix') format('embedded-opentype'),
      url('../fonts/icons.woff') format('woff'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.svg#webfont') format('svg');
}

h1,h2,h3,h4,h5,h6 {
  font-family: $serif;
}

body {
  font-family: $sans;
}

html {
  font-size: 100%;
  @include bp(small) {
    font-size: 112.5%;
  }
  @include bp(medium) {
    font-size: 125%;
  }
  @include bp(large) {
    font-size: 137.5%;
  }
}
