/* ----------- *
 *  Variables  *
 * ----------- */

//Colors

$base: #1f1f1f;
$secondary: #EBEBEB;
///$tertiary:
//$highlight:

//Container
$container: 960px;

//Font Families
$icons: "Icons";
$sans: "Source Sans Pro", Helvetica, sans-serif;
$serif: "Source Serif Pro", "Georgia", serif;
